---
import publications from "../../data/publications.json";

export function getStaticPaths() {
  return publications.map(pub => ({
    params: { id: pub.id },
    props: { publication: pub }
  }));
}

const { publication } = Astro.props;
---

<html>
  <head>
    <title>{publication.title}</title>
  </head>
  <body>
    <h1>{publication.title}</h1>

    <p>
      <a href={publication.pdf} target="_blank">
        Télécharger le PDF
      </a>
    </p>
  </body>
</html>
